body {
	background-color: #111137;
	margin: 0;
	overflow: hidden;
	font-family: 'Montserrat', sans-serif;
}
.container {
	height: 100%;
	width: 100%;
}
.yellow {
	color: #FF0;
}
.black {
	color: #000;
}
h1 {
	text-align: center;
	color: #FF0;
	text-shadow: 0 0 0.4rem #fff;
	text-transform: uppercase;
	font-size: 4rem;
}
#particles-js {
	width: 100%;
	height: 100%;
}
#covid-graph {
	max-height: 75%;
}
.container {
	position: absolute;
	top: 0;
}
.datasource {
	margin-top: 1rem;
	text-align: center;
	color: #000;
	text-shadow: 0 0 0.5em #fff;
}
a {
	color: #FF0;
	text-shadow: 0 0 0.2em #fff;
	transition: 0.25s text-shadow;
}
a:hover {
	color: #FF0;
	text-shadow: 0 0 0.75em #fff;
}